.App {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #b4e0c9;
    color: #333;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-radius: 0.5rem;
}

.container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    height: 100vh;
    position: fixed;
    width: 200px;
    background-color: #b5e0c9;
    padding: 1rem;
    border-right: 1px solid #ccc;
    border-radius: 0.5rem;
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
    border-radius: 0.5rem;
}

.App-content {
    background-color: #6fc596;
    padding: 1rem;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    border-radius: 0.5rem;
}
